body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.todo-app {
  width: 375px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.new-todo {
  height: 50px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
}
.todo-list {
  width: 375px;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  border-bottom: 1px solid #999;
  width: 100%;
}
#checkbox {
  width: 30px;
  height: 30px;
  border: 0;
}
.todo p {
  flex: 1;
  margin-left: 5px;
}
.todo label {
  border: 0.5px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.line-through {
  text-decoration: line-through;
}
.footer {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.footer button {
  background-color: #fff;
  border: 0;
  cursor: pointer;
}
.footer button:hover {
  border: 0.5px solid #999;
}
@media screen and (max-width: 376px) {
  .todo-app .footer {
    max-width: 370px;
  }
}
